.content-container {
  max-width: 1046px;
  margin: 0 auto;
  margin-top: 97px;
}
.section-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 80px;
  color: rgba(51, 51, 51, 1);
  max-width: 720px;
  min-width: 500px;
  margin-bottom: 33px;
}
.btn-login {
  background: transparent;
  background-color: rgba(255, 104, 91, 1);
  padding: 18px 40px 18px 40px;
  border-radius: 5px;
  border: none;
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: 0.2px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  margin-right: 30px;
  color: rgba(255, 255, 255, 1);
}
.username {
  margin-top: 143px;
  margin-bottom: 29px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0.2px;
  font-size: 3.7rem;
}

.btn-contacts {
  background: transparent;
  background-color: rgba(255, 255, 255, 1);
  padding: 17px 40px 17px 40px;
  border-radius: 5px;
  letter-spacing: 0.2px;
  border: 1px solid rgba(255, 104, 91, 1);
  font-weight: 700;
  font-size: 0.9rem;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  color: rgba(255, 104, 91, 1);
}
.btn-wrapper {
  margin-bottom: 82px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.btn-wrapper button {
  margin-top: 20px;
}
.card-item {
  width: 328px;
  height: 248px;
  text-decoration: none;
  padding: 35px 40px 35px 40px;
  box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
}
.cards-items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}
.card-item:not(:last-child) {
  margin-right: 30px;
}
.card-title {
  margin-top: 20px;
  margin-bottom: 22px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: rgba(51, 51, 51, 1);
}

.card-descr {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 20px;
  font-size: 0.9rem;
  color: rgba(115, 115, 115, 1);
}
.row {
  width: 50px;
  height: 2px;
  background-color: rgba(255, 104, 91, 1);
  margin-bottom: 20px;
}


@media (max-width: 1375px) {
  .container,
  .content-container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 768px) {
    .btn-login, .btn-contacts {
    margin: 0;
    width: 100% ;
    justify-content: center;
  }
  .section-title,
  .username {
    font-size: 36px ;
    line-height: 60px;
    min-width: 358px;
  }

  .card-item:not(:last-child) {
    margin: 0;
  }

  .btn-login, .btn-contacts, .card-item{
    margin: 0;
    width: 100% ;
    justify-content: center;
  }
}
@media (max-width: 480px) {
  .section-title {
    min-width: 340px !important;
  }
  .login-form__title {
    font-size: 20px;
  }
  .form-login {
    width: 300px;
  }
  .form-input {
    height: 45px;
  }
 
}

@media (max-width: 320px) {
  .section-title {
    min-width: 300px;
    font-size: 20px;
    line-height: 24px;
  }
}
