@media (max-width: 1375px) {
  .container,
  .content-container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 768px) {
  .section-title,
  .username {
    font-size: 36px !important;
    line-height: 60px !important;
    min-width: 358px;
  }
  .cards-items {
    display: grid !important;
    justify-content: center;
  }
  .card-item {
    justify-content: center;
  }
}
@media (max-width: 480px) {
  .section-title,
  .username,
  .contacts {
    font-size: 28px !important;
    line-height: 39px !important;
  }
  .section-title {
    min-width: 340px !important;
  }
  .login-form__title {
    font-size: 20px;
  }
  .form-login {
    width: 300px;
  }
  .form-input {
    height: 45px;
  }

  .btn-contacts,
  .nav-btn,
  .btn-login {
    padding: 6px 20px 6px 20px;
    font-size: 14px;
    margin: 5px;
  }
}
@media (max-width: 320px) {
  .section-title {
    min-width: 300px !important;
    font-size: 20px !important;
    line-height: 24px !important;
  }
}
